<h1>Nominations</h1>

<% @nominations.each do |nomination| %>
  <div class="nomination">
    <p><%= nomination.nominee.name %></p>
    <p><%= nomination.content %></p>

    <%= form_for [nomination, Vote.new] do |f| %>
      <%= f.submit "Vote!" %>
    <% end %>
  </div>
<% end %>
